body {
    background-color: black;
    color: white;
}

.header {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    height: 80px;
    padding: 10px
}

.header h1 {
    /* background-color: rgb(255, 0, 0); */
    margin-left: 150px;
    font-size: 60px;
}

.sidebar li {
    list-style: none;
    margin-right: 150px;
    font-size: 18px;
}

.home {
    padding: 0px 100px 15px 100px;
    height: 100vh;
    /* background-color: beige; */
}

.img-link {
    display: flex;
}