@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
img {
  user-select: none;
}
body {
  overflow-x: hidden;
  position: relative;
  font-family: "Montserrat", sans-serif;
  height: 100svh;
}
a {
  display: inline-block;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(50px); /* เบลอพื้นหลัง */
    /* background: rgba(255, 255, 255, 0.3); */  /* พื้นหลังโปร่งใส */
    color: #EAEFEF;
    height: 80px;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 5;
    padding: 10px 0px 10px 0px;
}
.logo a img {
    font-size: 28px;
    margin-left: 100px;
    width: 60px;
    height: auto;
    border-radius: 50%;
}
.text-header-on {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 50px;
    font-size: 18px;
    margin-right: 100px;
}
.text-header-on li {
    position: relative;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}
.text-header-on li::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 4px;
    width: 0;
    border-radius: 20px;
    background-color: #dfdfdf;
    transition: width 0.3s ease-out;
}
.text-header-on li:hover::after {
    width: 100%;
}

.heading-style-2 {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  line-height: 50px;
  margin-bottom: 40px;
}
p {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 28px;
}

/* logo */
/* .logo a {
  margin-bottom: 5px;
} */
/* .logo a img {
  width: 50px;
  height: auto;
  border-radius: 50%;
} */

.slider-main {
  min-height: 700px;
  /* background: radial-gradient(50% 50% at 50% 50%, #c7f6d0 0%, #7cb686 92.19%); */
  background: radial-gradient(50% 50% at 50% 50%, #6B6B6B 0%, #292929 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#backgrounds {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* transition: opacity 2s ease-in-out; */
}
.container {
  position: relative;
  left: calc(50% - (1140px / 2));
  width: 50%;
  padding-block: 100px;
  max-width: 525px;
  height: 100%;
}

/* content */
.slider-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
/* social media */
.social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.social-icons a {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* images */
.slider-images > img.next {
  opacity: 1;
  transition: 2s;
  filter: blur(35px);
  left: 100%;
  top: 10%;
  transform: translate(-50%, -50%) scale(0.3);
}
.slider-images > img.active {
  opacity: 1;
  transform: scale(1);
  transition: 2s;
  filter: blur(0px);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.slider-images > img.previous {
  opacity: 1;
  transition: 2s;
  filter: blur(25px);
  left: 95%;
  top: 90%;
}
.slider-images > img.inactive {
  opacity: 0;
  transition: 2s;
  filter: blur(35px);
  left: 100%;
  top: 100%;
  transform: translate(10%, 10%) scale(0.3);
}
.slider-images {
  position: relative;
  width: 50%;
  height: 100%;
  top: 0;
}
.slider-images > img {
  position: absolute;
  top: 0%;
  left: 100%;
  filter: blur(25px);
  transform: translate(-50%, -50%) scale(0.3);
  transition: opacity 3s;
  object-fit: cover;
  max-width: 593px;
  max-height: 779px;
  height: 100%;
  min-height: 320px;
}

/* ========================= media query ============================== */
@media screen and (max-width: 1199px) {
  .logo a img {
    width: 230px;
  }
  .heading-style-2 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 30px;
  }
  p {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 22px;
  }
  .container {
    left: calc(50% - (920px / 2));
    padding-block: 80px;
    max-width: 475px;
  }
  .slider-images > img {
    width: 453px;
    height: auto;
    aspect-ratio: 1/1.3;
  }
}
@media screen and (max-width: 991px) {
  .logo a img {
    width: 210px;
  }
  .heading-style-2 {
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 22px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 18px;
  }
  .container {
    left: calc(50% - (720px / 2));
    padding-block: 70px;
    max-width: 405px;
  }
  .slider-images {
    width: 45%;
  }
  .slider-images > img {
    width: 340px;
    aspect-ratio: 1/1.3;
  }
}
@media screen and (max-width: 767px) {
  .logo a img {
    width: 200px;
  }
  .logo a {
    margin-bottom: 20px;
  }
  .slider-main {
    flex-direction: column;
    min-height: 900px;
  }
  .social-icons a {
    width: 35px;
    height: 35px;
  }
  .social-icons img {
    width: 16px;
    height: 16px;
  }
  .container {
    position: unset;
    padding-block: 70px;
    max-width: 540px;
    width: 100%;
  }
  .slider-images {
    width: 100%;
  }
  .slider-images > img {
    height: 380px;
    aspect-ratio: 1/1.3;
    width: auto;
  }
  .slider-images > img.active {
    top: 45%;
    left: 20%;
  }
}
@media screen and (max-width: 575px) {
  .logo a img {
    width: 180px;
  }
  .logo a {
    margin-bottom: 18px;
  }
  .heading-style-2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .social-icons a {
    width: 32px;
    height: 32px;
  }
  .social-icons img {
    width: 15px;
    height: 15px;
  }
  .container {
    padding: 50px 20px 50px 20px;
    max-width: 100%;
  }
  .slider-images > img {
    height: 100px;
  }
  .slider-images > img.active {
    top: 50%;
    left: 5%;
  }
  .slider-images > img.previous {
    top: 100%;
  }
}

.information {
    background: radial-gradient(50% 50% at 50% 50%, #6B6B6B 0%, #292929 100%);
}

.education {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    padding-top: 13vh;
    padding-bottom: 20vh;
}

.card-1 {
    display: block;
    font-weight: bolder;
    width: 430px;
    height: 500px;
    border: 2px solid;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
.card-1 a {
    color: black;
}
.card-1 img {
    width: 320px;
    height: 350px;
    margin: 0 auto;
    padding: 10px 0 10px 0px;
}
.card-1 p {
    margin-top: 20px;
    font-size: 16px;
}

.card-2 {
    display: block;
    font-weight: bolder;
    width: 430px;
    height: 500px;
    border: 2px solid;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
.card-2 img {
    width: 320px;
    height: 350px;
    margin: 0 auto;
    padding: 10px 0 10px 0px;
}
.card-2 p {
    margin-top: 20px;
    font-size: 16px;
}

.card-3 {
    display: block;
    font-weight: bolder;
    width: 430px;
    height: 500px;
    border: 2px solid;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
.card-3 img {
    width: 320px;
    height: 350px;
    margin: 0 auto;
    padding: 10px 0 10px 0px;
}
.card-3 p {
    margin-top: 20px;
    font-size: 16px;
}

.card-4 {
    display: block;
    font-weight: bolder;
    width: 430px;
    height: 500px;
    border: 2px solid;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
.card-4 img {
    width: 320px;
    height: 350px;
    margin: 0 auto;
    padding: 10px 0 10px 0px;
}
.card-4 p {
    margin-top: 20px;
    font-size: 16px;
}

.card-5 {
    display: block;
    font-weight: bolder;
    width: 430px;
    height: 500px;
    border: 2px solid;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
.card-5 img {
    width: 320px;
    height: 350px;
    margin: 0 auto;
    padding: 10px 0 10px 0px;
}
.card-5 p {
    margin-top: 20px;
    font-size: 16px;
}

.card-6 {
    display: block;
    font-weight: bolder;
    width: 430px;
    height: 500px;
    border: 2px solid;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
.card-6 img {
    width: 320px;
    height: 350px;
    margin: 0 auto;
    padding: 10px 0 10px 0px;
}
.card-6 p {
    margin-top: 20px;
    font-size: 16px;
}